{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="cart-container container"> 
         <div class="row">
            <div class="col">
                <h2 class="page-title">{{ page }}</h2>
            </div>
         </div>
         <div class="row">
            <div class="col info-container cart-info-container">
                <div class="row info-items cart-info">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <span>Customer: </span>
                                <span>{{ user.first_name }}</span>
                                <span>{{ user.last_name }}</span>
                            </div>
                        </div>

                        {% if user.is_authenticated %}

                            {% for orderproduct in orderproducts %}
                            <div class="row">
                                <div class="col">
                                    <span data-pageurl= {{ global_context.current_page }} data-pagename="{{page}}" data-productid="{{orderproduct.product.id}}" data-cartaction="add" class="cart-action cart-action-add"><i class="fas fa-plus-circle"></i></span>
                                    <span> {{ orderproduct.quantity }}</span>
                                    <span data-pageurl= {{ global_context.current_page }} data-pagename="{{page}}" data-productid="{{orderproduct.product.id}}" data-cartaction="remove" class="cart-action"><i class="fas fa-minus-circle"></i></span>
                                    <span> {{ orderproduct.product.title }}</span>
                                    <span> @ £{{ orderproduct.product.price_in_base_currency }}</span>
                                    <span> | £{{ orderproduct.get_value }}</span>

                                    <span data-pageurl= {{ global_context.current_page }} data-pagename="{{page}}" data-productid="{{orderproduct.product.id}}" data-cartaction="delete" class="cart-action"><i class="fas fa-times-circle"></i></span>
                                </div>
                            </div>
                            {% endfor %}

                        {% else  %}

                            {% for item in global_context.cart_items %}
                                <div class="row">
                                    <div class="col">
                                        <span data-pageurl= {{ global_context.current_page }} data-pagename="{{page}}" data-productid="{{item.id}}" data-cartaction="add" class="cart-action cart-action-add"><i class="fas fa-plus-circle"></i></span>
                                        <span> {{ item.get_quantity }}</span>
                                        <span data-pageurl= {{ global_context.current_page }} data-pagename="{{page}}" data-productid="{{item.id}}" data-cartaction="remove" class="cart-action"><i class="fas fa-minus-circle"></i></span>
                                        <span> {{ item.product.title }}</span>
                                        <span> @ £{{ item.product.price_in_base_currency }}</span>
                                        <span> | £{{ item.get_value }}</span> 

                                        <span data-pageurl= {{ global_context.current_page }} data-pagename="{{page}}" data-productid="{{item.id}}" data-cartaction="delete" class="cart-action"><i class="fas fa-times-circle"></i></span>
                                    </div>
                                </div>
                            {% endfor %}
                          {% endif %}
                        <div class="row">
                            <div class="col">
                                <span>Number of Items </span>
                                <span> {{ global_context.cart_session.get_quantity }}</span>
                            </div>
                        </div>

                       <div class="row">
                            <div class="col">
                                <span>Total in GBP </span>
                                <span> {{ global_context.cart_session.get_value|floatformat:2}}</span>
                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form id="checkoutForm">
                    <label for="email">Email:</label>
                    <input id="email" name="email" placeholder="email..." value="">
                    <input type="submit" class="btn btn-primary button-default" value="Confirm and Pay">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col button-checkout-container">
                {% comment %} <a href="{% url 'checkout_success' %}"><button onClick class="btn btn-primary button-default">Confirm and Pay</button></a> {% endcomment %}
            </div>
        </div>
    <div>
{% endblock content %}
    