{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="passwordreset container">

     <div class="row">
        <div class="col">
             <h2 class="page-title">Password Reset</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary button-default" type="submit">Send Email</button>
            </form>
        </div>
    </div>

<div>
{% endblock content %}