{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="profile-container container"> 
         <div class="row">
            <div class="col">
                <h2 class="page-title">{{ page }}</h2>
            </div>
         </div>
         <div class="row">
            <div class="col info-container profile-info-container">
                <div class="row info-items profile-info">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <span>{{ user.first_name }}</span>
                                <span>{{ user.last_name }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5 profile-bottom">
            <div class="col button-profile-container">
                <a href="/customers/editprofile"><button class="btn btn-secondary button-default button-profile">Edit Profile</button></a>
            </div>
            <div class="col button-profile-container">
                <a href="{% url 'logout' %}"><button class="btn btn-danger button-profile">Logout</button></a>
            </div>
        </div>
    <div>
{% endblock content %}
    